<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- 합쳐지고 최소화된 최신 자바스크립트 -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <link rel="stylesheet" href="/js/jquery-1.8.3.min.js">

    <!-- 합쳐지고 최소화된 최신 CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

    <!-- 부가적인 테마 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">


    <link rel="stylesheet" type="text/css" href="/css/style.css">

    <link rel="stylesheet">
    <title>login</title>
</head>
<body>
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-md-6 col-md-auto login-box">
                <h1 class="text-center wdi-red">Login</h1>
                <hr>
                <form>
                    <div class="form-row">
                        <div class="col-md-12">
                            <input type="text" name="username" class="form-control form-control-lg flat-input" placeholder="아이디">
                        </div>
                        <div class="col-md-12">
                            <input type="password" name="password" class="form-control form-control-lg flat-input" placeholder="비밀번호">
                        </div>
                        <button type="submit" class="btn btn-lg btn-block btn-login">Login</button>
                    </div>
                </form>
            </div>
        </div>

    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
</body>
</html>